body {
    display: flex;
    justify-content: center;
}

.calculator-Body {
    border: 2px solid black;
    width: fit-content;
    
    .display {
        border: 1px solid black;


        input{
            display: flex;
            flex-direction: row;
            width: 319px;
        }
    }
}

.numbers {
    display: grid;
    grid-template-columns: auto auto auto auto;

    button {
        height: 2rem;
        margin: 5px;
    }

    
}